{
  "root": true,
  "env": {
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "prettier"
  ],
  "rules": {
    "array-callback-return": 0,
    "camelcase": 0,
    "no-console": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "no-underscore-dangle": 0,
    "no-nested-ternary": 0,
    "global-require": 0,
    "prefer-destructuring": 0,
    "no-use-before-define": 0
  }
}
